.env

database/backups/
database/*.sql
database/**/*.sql
*.log

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/cache/sessions/*
!application/cache/sessions/index.html
!application/cache/sessions/.htaccess

application/sessions/*
!application/sessions/index.html
!application/sessions/.htaccess

admin_menu/application/logs/*
!admin_menu/application/logs/index.html
!admin_menu/application/logs/.htaccess

admin_menu/application/cache/*
!admin_menu/application/cache/index.html
!admin_menu/application/cache/.htaccess

admin_menu/application/cache/sessions/*
!admin_menu/application/cache/sessions/index.html
!admin_menu/application/cache/sessions/.htaccess

vendor/
node_modules/

.DS_Store

application/third_party/firebase/*firebase-adminsdk*.json
*firebase-adminsdk*.json
